.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;

  font-family: 'Nunito', sans-serif;
}

.sidenav a:hover {
  color: #EC5252;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

span {
  font-size: 50px;
  padding: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/* OTHER CSS THAT ALL PAGES HAVE */
html{
	scroll-behavior: smooth;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

/* TOP NAV */
#mainjw {
	text-align: center;
	color: black;
	text-decoration: none;
	line-height: 70px;
}

#allofsidenav {
	position: absolute;
	cursor: pointer;

	font-family: 'Nunito', sans-serif;
}

/* FOOTER */
#footer {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;

	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 50px;
}

#footer h1 {
	margin: 0px;
	font-size: 42px;
}


#contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 325px;

	font-size: 16px;
	margin: 0px;
}

#contacts p {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	color: black;
}

#contacts a {
	text-decoration: none;
}

#contacts p:hover {
	color: #00C5B9;
}

.minicube2 {
	float: right;
	padding-left: 10px;
	width: auto;
	height: 50px;
}


/* NEXT PROJECTS */
#nextproject {
	display: flex;
	position: relative;

	justify-content: space-between;
	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.next {
	width: 250px;
	height: 50px;
    margin-left: 100px;
    margin-top: 75px;

    text-align: left;
    background-color: rgb(227, 227, 227);


    display: flex;
	justify-content: left;
    padding-left: 25px;
    padding-top: 15px;
    border-radius: 10px;
    color: black;
}

.next2 {
	width: 250px;
	height: 50px;
    margin-right: 100px;
    margin-top: 75px;

    text-align: right;
    background-color: rgb(227, 227, 227);

    display: flex;
	justify-content: right;
    padding-right: 25px;
    padding-top: 15px;
    border-radius: 10px;
    color: black;
}

#nextproject a {
    text-decoration: none;
}

.projectname {
	font-size: 18px;
	margin: 0px;
}

.viewnextproject {
	font-size: 12px;
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;

	line-height: 15px;
}

.arrow, .arrow2 {
    height: 40px;
    padding-top: 0px;
}

.next:hover .projectname {
	color: blueviolet;
}

.next2:hover .projectname {
	color: blueviolet;
}