#design:hover > #designheading{
  transform: translateY(-25px);
  transition: all 1s ease 0s;
}

#designrow1 {
  background-color: #034078;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1000px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.designsubheading {
  width: 480px;
}

.designskills {
  width: 500px;
  position: absolute;
  bottom: 75px;
  right: 65px;
}





/*GALLERY*/
#designrow2 {
  background-color: #7C9ECE;
  padding: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 1000px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
 
  width: 1210px;
}

.buttons button {
  transition-duration: .5s;
  
  width: 450px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #7c9ece;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  margin: 5px;

}

.buttons button:hover, .buttons .btn-clicked {
  background-color: #034078;
  color: white;
}

.images {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 22px;
  padding-top: 10px;
}

.images img {
  width: 280px;
  height: 350px;
  margin: 0px;
  border-radius: 0.2px;
  transform: 0.6s;
  object-fit: fill;

  box-shadow: 0 0 10px 1px lightgray;
}

.images .longer {
  width: 576px;
  height: 375px;
  margin: 0px;
  border-radius: 0.2px;
  transform: 0.6s;
}

.images .img-expand {
  width: 280px;
  margin: -1px;
}

.images .img-shrink {
  width: 0px;
  margin: -1px;
}


@media screen and (max-width: 1439px) {
  .images {
    max-width: 896px;
  }
}

@media screen and (max-width: 986px) {
  .images {
    align-items: center;
    flex-direction: column;
  }
  .images img {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .buttons button {
    width: 100%;
    display: block;
  }
  .images
  .img-expand
  .images img {
    width: 100%;
  }
}





