#dev:hover > #devheading{
  transform: translateY(-25px);
  transition: all 1s ease 0s;
}

#devrow1 {
  background-color: #7c9ece;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1000px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.devsubheading {
  width: 480px;
}

.codingicons {
  width: 475px;
  position: absolute;
  bottom: 40px;
  right: 100px;
}

#devrow2 {
  background-color: #034078;
  padding: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 1000px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  display: flex;
  flex-direction: row;

  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.wireframetext {
  position: absolute;
  width: 450px;
  right: 110px;
  top: 65px;
  margin-left: auto;
}

.wireframetextforfour {
  position: absolute;
  width: 375px;
  right: 100px;
  top: 65px;
  margin-left: auto;
}

.devbutton {
  position: absolute;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition-duration: .5s;
  
  width: 115px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #7c9ece;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.devbutton:hover{
  background-color: white;
}

.devbutton:hover > a{
  color: #034078;
}

.codingicons {
  position: absolute;
}

#wireframe {
  display: flex;
  flex-direction: row;
}

.wireframe {
  height: 300px;
  padding: 10px;
}

.wireframefourofthem {
  height: 300px;
  padding: 3px;
}

#devresearchrow, #devresearchrow2, #devdesignrow {
background-color: #034078;
padding: 100px;
padding-top: 50px;
padding-bottom: 50px;
width: 1000px;
margin: 10px;
margin-left: auto;
margin-right: auto;

border-radius: 20px;
box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

#devresearchrow2 {
  background-color: #7c9ece;
}

.moodboard {
  width: 1000px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.wireframepdf {
  width: 475px;
  height: 322px;
  position: absolute;
  top: 38px;
  left: 100px;
}

#threewireframe {
  position: absolute;
  left: 100px;
  top: 40px;
}

#fourwireframe {
  position: absolute;
  left: 100px;
  top: 47px;
}



/*SLIDESHOW ELEMENT*/
.sliderv2 {
position: relative;
top: 200px;
left: 50%;
transform: translate(-50%, -50%);
width: 1200px;
height: 400px;
box-shadow: 3px 3px 10px rgba(0,0,0,.2);

border-radius: 20px;
}

.wrapperv2 {
overflow: hidden;
position: relative;
width: 1200px;
height: 400px;
z-index: 1;

border-radius: 20px;
}

.slidesv2 {
display: flex;
position: relative;
top: 0;
left: -1200px;
width: 10000px;

border-radius: 20px;
}

.slidesv2.shifting {
transition: left .2s ease-out;
}

.slidev2 {
width: 1170px;
height: 800px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
transition: all 1s;
position: relative;
border-radius: 20px;
background-color: #7c9ece;
}

.designheadingone{
  font-size: 26px;
}

.designbodytext {
  font-size: 16px;
}

.devbuttonforcoding {
  position: absolute;
  bottom: 85px;
  right: 100px;
  transition-duration: .5s;
  
  width: 115px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #7c9ece;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}


.devcodingsubheading {
  width: 825px;
}

.code {
  width: 1000px;
  height: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

