#marketing:hover > #marketingheading{
transform: translateY(-25px);
transition: all 1s ease 0s;
}

#marketingrow1 {
background-color: #7C9ECE;
padding: 100px;
padding-top: 50px;
padding-bottom: 50px;
width: 1000px;
margin: 10px;
margin-left: auto;
margin-right: auto;

border-radius: 20px;
box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

#marketingrow2 {
background-color: #034078;
padding: 100px;
padding-top: 50px;
padding-bottom: 50px;
width: 1000px;
margin: 10px;
margin-left: auto;
margin-right: auto;
border-radius: 20px;
box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

#marketingrow3 {
background-color: #7C9ECE;
padding: 100px;
padding-top: 50px;
padding-bottom: 50px;
width: 1000px;
height: 500px;
margin: 10px;
margin-left: auto;
margin-right: auto;

border-radius: 20px;
box-shadow: 3px 3px 10px rgba(0,0,0,.2);
position: relative;
}

#phonecutout {
  height: 550px;
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 10;
}

#tiktokphone {
  width: 700px;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.tiktokphone {
  height: 400px;
  margin: 0px;
}

#socialmediarow1 {
  background-color: #034078;
  padding: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 1000px;
  height: 375px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  display: flex;
  flex-direction: row;

  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.smbutton {
  position: absolute;
  bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition-duration: .5s;
  
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #7c9ece;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.smbutton:hover{
  background-color: white;
}

.smbutton:hover > a{
  color: #034078;
}

.smbuttonweb {
  position: absolute;
  bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition-duration: .5s;
  
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #7c9ece;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.smbuttonweb:hover{
  background-color: white;
}

.smbuttonweb:hover > a{
  color: #034078;
}

.moreworkbutton {
  position: absolute;
  top: 325px;
  margin-left: auto;
  margin-right: auto;
  left: 105px;
  text-align: center;
  transition-duration: .5s;
  
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #7c9ece;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.moreworkbutton:hover {
  background-color: white;
  color: #034078;
}

.moreworkbutton:hover > a{
  color: #034078;
}

.tiktokonecaption{
  position: absolute;
  top: 77px;
  left: 105px;

  
  padding-top: 167px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 180px;

  color: white;
  text-align: center;
  font-size: 14px;

  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  visibility: hidden;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: white;
}

#hoverone:hover > .tiktokonecaption {
  visibility: visible;
}

.tiktoktwocaption{
  position: absolute;
  top: 77px;
  left: 319px;

  
  padding-top: 167px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 180px;

  color: white;
  text-align: center;
  font-size: 14px;

  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  visibility: hidden;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: white;
}

#hovertwo:hover > .tiktoktwocaption {
  visibility: visible;
}

.tiktokthreecaption{
  position: absolute;
  top: 77px;
  left: 531px;

  
  padding-top: 167px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 180px;

  color: white;
  text-align: center;
  font-size: 14px;

  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  visibility: hidden;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: white;
}

#hoverthree:hover > .tiktokthreecaption {
  visibility: visible;
}

#tiktoktext {
  position: relative;
  width: 450px;
  margin-left: auto;
}

.tiktokdescription {
  font-size: 18px;
  position: absolute;
  bottom: 85px;
}

.clowncircle {
  width: 200px;
}

.clowncircle2 {
  width: 270px;
}

#socialmediarow2 {
  background-color: #7C9ECE;
  padding: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 1000px;
  height: 375px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  display: flex;
  flex-direction: row;

  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

video { 
    height: 351px; 
    z-index: 1;

    position: absolute;
    right: 106px;
    top: 86px;
    border-radius:20px;
}

.tiktokphoneforvideo {
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-right: 50px;

  position: absolute;
  z-index: 10;
}


#tiktoktexttwo {
  position: relative;
  width: 400px;
  margin-left: auto;
}

#tiktokphonetwo {
  width: 700px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.tiktokdescriptiontwo {
  font-size: 18px;
  position: absolute;
  bottom: 100px;
}

.tiktokdescriptionthree {
  font-size: 18px;
  position: absolute;
  bottom: 80px;
}

.smbuttontwo {
  position: absolute;
  bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition-duration: .5s;
  
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #034078;
  color: #034078;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.smbuttontwo:hover{
  background-color: white;
}

.smbuttontwo:hover > a{
  color: #034078;
}

#webtext {
  position: relative;
  width: 550px;
  margin-left: auto;
}

.webdescription {
  font-size: 18px;
  position: absolute;
  bottom: 80px;
}

.newsletter1, .newsletter2 {
  height: 375px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.newsletter1 {
  margin-left: 5px;
}

#aimsite {
  transition: all 1s;
}

#aimsite:hover {
  transition: all 1s ease 0s;
  transform: scale(1.075);
}

.branding {
  padding-top: 25px;
}

.moodboard2 {
  width: 1000px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.laptopcutouttwo {
  width: 525px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 75px;
  right: 100px;
}








/*SLIDE CONTENT */
.contentrow2 {
  width: 400px;
  position: absolute;
  left: 100px;
  top: 65px;
}

.worktitle {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 28px;
  color: white;
}


.descriptionrow2 {
  font-size: 24px;
}

.descriptionrow3 {
  font-size: 18px;
}

#laptopcutout {
  width: 600px;
  position: absolute;
  top: 120px;
  right: 50.25px;
  z-index: 10;
}

.clickittext {
  position: absolute;
  width: 250px;
  bottom: 110px;
  right: 180px;

  font-size: 14px;
}

#slidemain, #slidemaintwo{
  position: relative;
}

#slidebottom{
  position: absolute;
  right: 125px;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: spaceevenly;
}

.slidemain, .slidemaintwo, .slidemainthree, .slidemainfour, .slidemainfive{
  width: 468px;
  right: 101.45px;
  bottom: -18px;
  position: absolute;
}

#vslides, #vslides2, #vslides3, #vslides4, #vslides5, #uslides, #uslides2, #uslides3, #uslides4, #uslides5, #cslides, #cslides2, #cslides3, #cslides4, #cslides5, #gcslides, #gcslides2, #gcslides3, #gcslides4, #gcslides5, #lnxslides, #lnxslides2, #lnxslides3, #lnxslides4, #lnxslides5{
  width: 50px;
  padding: 5px;
}

.clickittext {
  position: absolute;
  width: 250px;
  bottom: 320px;
  right: 187px;

  font-size: 14px;
}

#slidebottom{
  position: absolute;
  right: 206px;
  bottom: 285px;
  display: flex;
  flex-direction: row;
  justify-content: spaceevenly;
}

#marketingrow1 {
  background-color: #7C9ECE;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1000px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#sideshowcontainer {
position: relative;
}

#marketing {
position: relative;
}

#slidesix{
  display: hidden;
}




/*SLIDESHOW THINGY*/
.slider {
position: relative;
top: 300px;
left: 50%;
transform: translate(-50%, -50%);
width: 1200px;
height: 600px;
box-shadow: 3px 3px 10px rgba(0,0,0,.2);

border-radius: 20px;
}

.wrapper {
overflow: hidden;
position: relative;
width: 1200px;
height: 600px;
z-index: 1;

border-radius: 20px;
}

.slides {
display: flex;
position: relative;
top: 0;
left: -1200px;
width: 10000px;

border-radius: 20px;
}

.slides.shifting {
transition: left .2s ease-out;
}

.slide {
width: 1170px;
height: 800px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
transition: all 1s;
position: relative;
border-radius: 20px;
background-color: #034078;
}

.control {
position: absolute;
top: 50%;
width: 50px;
height: 50px;
background: #fff;
border-radius: 50px;
margin-top: -20px;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
z-index: 2;
}

.prev,
.next {
background-size: 22px;
background-position: center;
background-repeat: no-repeat;
cursor: pointer;
}

.prev {
background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
left: -20px;
}

.next {
background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
right: -20px;
}

.prev:active,
.next:active {
transform: scale(.8);
}



/*SLIDESHOW THINGY TWO*/
.slidertwo {
position: relative;
top: 300px;
left: 50%;
transform: translate(-50%, -50%);
width: 1200px;
height: 600px;
box-shadow: 3px 3px 10px rgba(0,0,0,.2);

border-radius: 20px;
}

.wrappertwo {
overflow: hidden;
position: relative;
width: 1200px;
height: 600px;
z-index: 1;

border-radius: 20px;
}

.slidestwo {
display: flex;
position: relative;
top: 0;
left: -1200px;
width: 10000px;

border-radius: 20px;
}

.slidestwo.shiftingtwo {
transition: left .2s ease-out;
}

.slidetwo {
width: 1170px;
height: 800px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
transition: all 1s;
position: relative;
border-radius: 20px;
background-color: #034078;
}

.controltwo {
position: absolute;
top: 50%;
width: 50px;
height: 50px;
background: #fff;
border-radius: 50px;
margin-top: -20px;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
z-index: 2;
}

.prevtwo,
.nexttwo {
background-size: 22px;
background-position: center;
background-repeat: no-repeat;
cursor: pointer;
}

.prevtwo {
background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
left: -20px;
}

.nexttwo {
background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
right: -20px;
}

.prevtwo:active,
.nexttwo:active {
transform: scale(.8);
}



